@{
    ViewData["Title"] = "District List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="pagetitle">

    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Masters/DistrictList">Masters</a></li>
            <li class="breadcrumb-item active">District List</li>
        </ol>
    </nav>
    <div class="rinput">
        <a class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#addDistrict" id="btnAddNew">Add New</a>
    </div>

</div>
<section class="section dashboard">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="card">
                    <h5 class="card-title">District List</h5>
                    <table class="table datatable" id="tblDistList">
                        <thead>
                            <tr>
                                <th>District </th>
                                <th>District Code</th>
                                <th>Created Date</th>
                                <th>Created By</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="addDistrict">

</div>
<script src="~/scripts/Districts.js"></script>
<script>
    $(document).ready(function () {
        bindDistList();
    });

</script>