@{
    ViewData["Title"] = "Monthly Rental Rate List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .textright{
        text-align:right;
    }
</style>
<div class="pagetitle">

    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/BillingMaster/MonthlyRentalRateList">Billing Master</a></li>
            <li class="breadcrumb-item active">Monthly Rental Rate List</li>
        </ol>
    </nav>
    <div class="rinput">
        <a class="btn btn-secondary" href="/BillingMaster/AddEditMonthlyRentalRate" target="_blank" id="btnAddNew">Add New</a>
    </div>

</div>
<section class="section dashboard">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="card">
                    <h5 class="card-title">Monthly Rental Rate List</h5>
                    <table class="table datatable" id="tblMonthlyRentalRateList">
                        <thead>
                            <tr>
                                <th>Ward</th>
                                <th>Locality</th>
                                <th>Road Width Type</th>
                                <th>Construction Type</th>
                                <th>Constructed Area Rate</th>
                                <th>Empty Area Rate</th>
                                <th>Created Date</th>
                                <th>Created By</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="addMonthlyRentalRate">
</div>
<script src="~/scripts/MonthlyRentalRate.js"></script>
<script>
    $(document).ready(function () {
        bindMonthlyRentalRateList();
    });

</script>