@{
    ViewData["Title"] = "Trade Sub Category List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="pagetitle">

    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/TradeLicence/TradeSubCategoryList">Trade & Licence</a></li>
            <li class="breadcrumb-item active">Trade Sub Category List</li>
        </ol>
    </nav>
    <div class="rinput">
        <a class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#addTradeSubCategory" id="btnAddNew">Add New</a>
    </div>

</div>
<section class="section dashboard">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="card">
                    <h5 class="card-title">Trade Sub Category List</h5>
                    <table class="table datatable" id="tblTradeSubCategoryList">
                        <thead>
                            <tr>
                                <th>Sub Category Name</th>
                                <th>Category Name</th>
                                <th>Term & Condition</th>
                                <th>Fees</th>
                                <th>Created Date</th>
                                <th>Created By</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="addTradeSubCategory">
</div>
<script src="~/scripts/TradeSubCategory.js"></script>
<script>
    $(document).ready(function () {
        bindTradeSubCategoryList();
    });

</script>